body{
   
background-color: #f5b342;
    
}

img{
    margin: 20px;
}

h1{
    text-align: center;
    color: blue;
}

.img1{
    height: 400px;
    width: 30%;
}

.img2{
    height: 400px;
    width: 30%;
    
}

.img3{
    height: 400px;
    width: 30%;
}

.img4{
    height: 400px;
    width: 30%;
    
}

.img5{
    height: 400px;
    width: 30%;


}

.img6{
    height: 400px;
    width: 30%;
}
